@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

body {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  box-shadow: 2px 0 2.5px;
  width: 100%;
  background-color: white;
  z-index: 2;
}

header nav ul {
  display: flex;
  list-style: none;
  margin-left: auto;
  font-size: 20px;
  font-weight: 600;
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 12px;
  border: none;
  transition: 0.3s ease-in-out;
}

.logo {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid;
  font-size: 10px;
  display: flex;
}

header nav ul li:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 3px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  padding-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 4vh;
  background-color: rgba(0, 0, 0, 1);
  margin: 0%;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.883);
  z-index: 2;
}

footer div {
  margin-left: 18px;
}

.show-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 4vh;
}

.img > img {
  height: auto;
}

.Movie {
  height: 100%;
  width: 100%;
}

.img {
  height: 30vh;
  width: 30vh;
}

.UserName {
  font-size: 22px;
}

.likeComment-div {
  display: flex;
  align-items: center;
}

.like-btn{
  background-color: white;
  margin-left: 20px;
  border: none;
}

.like-btn.liked i.fa-heart {
  background-color: transparent;
  color: rgb(255, 0, 43)

}

.likescounter{
  margin-left: 8px;
  font-weight: 700;
  color: var(--pink);
}

.comment{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11vh;
  height: 4vh;
  border: 2px solid;
  cursor: pointer;
}